<!-- views/partials/aside.ejs -->

<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">                
          <li class="">
              <a class="" ui-sref="home">
                  <i class="icon_desktop"></i>
                  <span>Monitoring</span>
              </a>
          </li>
    		  <li class="">
                  <a ui-sref="operator" class="">
                      <i class="icon_genius"></i>
                      <span>Operator</span>
                  </a>
                  <!-- <ul class="sub">
                      <li><a class="" href="form_component.html">Form Elements</a></li>                          
                      <li><a class="" href="form_validation.html">Form Validation</a></li>
                  </ul>-->
          </li>       
          <li>
              <a class="" ui-sref="configuration">
                  <i class="icon_cog"></i>
                  <span>Configurations</span>
              </a>
          </li>
         
          <li ng-show="canManage">
              <a class="" ui-sref="management" >
                  <i class="icon_documents_alt"></i>
                  <span>Management</span>
              </a>
          </li>
         <!--  <li class="sub-menu">
              <a href="javascript:;" class="">
                  <i class="icon_documents_alt"></i>
                  <span>Pages</span>
                  <span class="menu-arrow arrow_carrot-right"></span>
              </a>
              <ul class="sub">                          
                  <li><a class="" href="profile.html">Profile</a></li>
                  <li><a class="" href="login.html"><span>Login Page</span></a></li>
                  <li><a class="" href="blank.html">Blank Page</a></li>
                  <li><a class="" href="404.html">404 Error</a></li>
              </ul>
          </li> -->
          <button class="btn emergency" ng-click="emergency_stop()">STOP</button>
      </ul>
      <!-- sidebar menu end-->
      
  </div>
</aside>
<!--sidebar end-->
