<!--overview start-->
<div class="row">
    <div class="col-lg-12 mgb-20">
        <h3 class="page-header"><i class="fa fa-gear"></i> Configurations</h3>
    </div>
</div>

<div align="center">
	<div style="display: inline-block; margin-right: 10px;">
	<button ng-hide="conf" class="plus" ng-click="display_form_config()"></button><p ng-hide="conf" style="font-size:20px">New configuration/robot</p></div>
	<div style="display: inline-block;"><button ng-hide="script_gen" class="plus" ng-click="display_script_generator()"></button><p ng-hide="script_gen" style="font-size:20px">Robot script generator</p></div>


	<form ng-show="conf" class="myform panel panel-info">
		<div class="col-lg-12 mgb-20 pd-0">
			<div class="panel-container panel-heading ">
				<h3>New configuration</h3>
			</div>
			<div class="panel-body">
				<div ng-show="robotsuccess" class="alert alert-success" role="alert">
					Robot successfully added !!
				</div>
				<div class="row">
					<div class="col-md-6 mgb-20">
						<label for="box">Device Name : </label>
						<input class="form-control" type="text" name="box" ng-maxlength="25" ng-model="newProfile.name" required />
					</div>
					<div class="col-md-6 mgb-20">
						<label for="box">TRBots IP : </label>
						<input class="form-control" type="text" name="box" maxlength="15" ng-minlength="7" ng-maxlength="15"ng-model="newProfile.ip_address" required />
						<span class="form_hint"> Send the configuration to this computer</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mgb-20" id="formOS">
						<label for="profile">OS : </label>
						<!-- <input type="text" name="profile" ng-model="profile.name" required /> -->
						<select class="mgt6" name="repeatSelect" id="repeatSelect" ng-init="data.modes.os[0]" required>
					      <option ng-repeat="option in data.brands" value="{{option}}">{{option}}</option>
					    </select>
					    <div ng-click="addOS()" class="dc" id="btnOS"><i class="fa fa-plus faOS"></i></div>
					    <div ng-click="clearOS()" class="dn" id="btnOS1"><i class="fa fa-times faOS"></i></div>
                        <div ng-click="saveOS()" class="dn" id="btnOS2"><i class="fa fa-save faOS"></i></div>
						<!-- <span class="form_hint"> OS name (ex: ros, ur, abb)</span> -->
						<div id="formOS1" class="dn">
						    <div class='dg col-md-12'>
						    	<div class='col-md-12'>
						    		<label class='col-md-6' for='nomOS'>Nom : </label>
						    		<input id='nomnvOS' class='col-md-6' type='text' maxlength='25'/>
						    	</div>
						    	<div class='col-md-12'>
						    		<label class='col-md-6' for='abbrOS'>Abreviation : </label>
						    		<input id='abbrOS' class='col-md-6' type='text' maxlength='8'/>
						    	</div>
						    	<div class='col-md-12'>
						    		<label for='couleur' class='col-md-6'>Couleur : </label>
						    		<input id='couleurOS' class='col-md-6' type='text' maxlength='10'/>
						    	</div>
						    	<div class='col-md-12'>
						    		<label class='col-md-6' for='typeOS' style="display: contents;">Type : </label>
						    		<select id='typeOS' class='col-md-6'>
						    			<option value='os'>OS</option>
						    			<option value='integration'>Integration</option>
						    		</select>
						    	</div>
						    </div>
						</div>
					</div>
					<div class="col-md-6 mgb-20">
						<label for="profile">Mode : </label>
						<!-- <input type="text" name="profile" ng-model="profile.name" required /> -->
						<select class="mgt6" name="repeatedSelect" id="repeatedSelect" ng-init="data.modes.mode[0].name" required>
					      	<option ng-repeat="option in data.modes" value="{{option.mode}}">{{option.name}}</option>
					    </select>
						<!-- <span class="form_hint"> OS name (ex: ros, ur, abb)</span> -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mgb-20">
						<!-- <input type="text" name="profile" ng-model="profile.name" required /> -->
						<label for="profile">Abilities : </label>
						<div class="col-md-8">
							<ul style="display: contents;">
							    <li ng-repeat="ability in data.abilities" style="display:flex;border-bottom:unset;padding: 0;">
							    	<label class="conflab"><div class="mgt6 col-md-6 col-sm-6">{{ability.name}}</div><input class="col-md-6 col-sm-6" ng-change="updateTasks()"  type="checkbox" ng-model="newProfile.abilities[ability.name]" ng-true-value="'{{ability.id}}'" ng-false-value="''"></label>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-md-6 mgb-20">
						<label for="profile">Tasks : </label>
						<!-- <input type="text" name="profile" ng-model="profile.name" required /> -->
						<select name="taskSelect" id="taskSelect"  multiple style="overflow-y: auto;">
					      <option ng-repeat="option in data.taskList" value="{{option.id}}">{{option.name}}</option>
					    </select>
					    <div class="col-md-12">
							<span class="form_hint"> Hold down the Ctrl button to select multiple options.</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mgb-20">
						<label for="middleware_ext">External interface : </label>
						<input type="text" name="middleware_ext" ng-model="newProfile.ext" size="7" maxlength="7" required /> : 
						<input size="4" maxlength="5" type="text" name="port" ng-model="newProfile.extport"  required/>
						<div class="col-md-12" style="display: inline-block;">
							<span class="form_hint"> Receiving external messages on this interface : port</span>
						</div>
					</div>
					<!-- <li>
						<label for="middleware_ext">Middleware external access port : </label>
						<input type="text" name="middleware_ext" ng-model="profile.port_ext" required /><span class="form_hint"> Middleware is listening for messages on this port</span>
					</li> -->
					<div class="col-md-6 mgb-20">
						<label for="middleware_int">Robot interface : </label>
						<input type="text" name="middleware_int" ng-model="newProfile.int" size="7" maxlength="7"  required/> :
						<input type="text" name="middleware_int_port" ng-model="newProfile.intport" size="4" maxlength="5"  required/>
						<div class="col-md-12" style="display: inline-block;">
							<span class="form_hint"> Communicating with the robot on this interface : port</span>
						</div>
					</div>
				</div>
		
				<!-- <li>
					<label for="connectrans">ConnectToBots : </label>
					<div class="can-toggle can-toggle--size-small">
					<input id="b" type="checkbox" name="connectrans" ng-model="profile.connectrans" value="connectrans">
						<label for="b">
							<div class="can-toggle__switch" data-checked="On" data-unchecked="Off"></div>
						</label>
					</div>
				</li> -->
				<div class="col-lg-12 mgb-20">
					<div class="form-submit">
						<button ng-click="addRobot(newProfile);" class="fuller-button blue">ACCEPT</button>
						<div class="fuller-button red" ng-click="display_form_config()">CANCEL</div>
						<div class="fuller-button white" ng-click="reset()">RESET</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<form ng-show="script_gen" ng-submit="submitForm()" class="myform">
		<ul>
			<li>
				<h2>Robot script generator</h2>
			</li>
			<li>
                <label for="model">OS : </label>
                <input type="text" list="combo-options" ng-model="umodel" placeholder="- Select or edit OS -" class="form-control">
                <datalist id="combo-options">
                    <option value="ROS"></option>
                    <option value="UR"></option>
                    <option value="ABB"></option>
                </datalist>
			</li>
			<li>
				<div class="form-submit">
					<button type="submit" class="fuller-button blue">GENERATE</button>
					<div class="fuller-button red" ng-click="display_script_generator()">CANCEL</div>
				</div>
			</li>
			<li>
				<textarea ng-show="script_gen" id="script" ng-model="scripttext"></textarea> 
				<button type="button" class="btn" ngclipboard data-clipboard-action="copy" data-clipboard-target="#script">
    				Copy to clipboard
				</button>
			</li>
		</ul>
	</form>


		<div ng-show="showTableRobot">
		<ul>
			<li>
				<h2><b>Fleet Composition</b></h2>
			</li>
				
			<table class="table table-bordered table-hover">
				
				<thead style="background-color: white;">
					<th><b>Name</b></th>
					<th><b>Ip Address</b></th>
					<th><b>Brand</b></th>
					<th><b>Mode</b></th>
					<th><b>Delete</b></th>

				</thead>
				<tbody>
					<tr ng-repeat="robot in robotList">
						<td style="background-color: white;"><b style="text-transform: uppercase;">{{robot.name}} </b></td>
						<td style="background-color: white;"><b style="text-transform: uppercase;">{{robot.ip_address}} </b></td>
						<td style="background-color: white;"><b style="text-transform: uppercase;">{{robot.abbr}} </b></td>
						<td style="background-color: white;"><b style="text-transform: uppercase;">{{robot.mode}} </b></td>
						<td style="background-color: white;"> <button class="btn btn-danger" ng-click="delete_robot(robot.id)"><i style="font-size:24px;color:white" class="fa fa-times"></i></button></button></td>
					</tr>
				</tbody>

			</table>


		</ul>
	</div>
	
</div>