<div class="modal fade" tabindex="0">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Resilience alert</h4>
              </div>
              
              <div class="modal-footer">
<!--                 <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button> -->
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>