<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-repeat="os in data.os" >
    <div ng-class="classRobot(os)">
        <div ng-repeat="robot in data.robots | filter : {'os' : os}">
          <h3 class="panel-title panel-container">{{robot.name}}</h3>
          <label ng-repeat="(key,value) in robot.skills">
          <input type="checkbox" ng-click="change(key, robot.skills[key])" ng-model="robot.skills[key]"> {{key}}</label>
        </div>
    </div><!--/.info-box-->         
</div><!--/.col-->

<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-container panel-heading ">
            <h3 class="panel-title panel-container">Tasks</h3>
        </div>
        <div class="panel-body" >
            <ul dnd-list="models.tasks" dnd-drop="falsy">
                <li ng-repeat="task in models.tasks" 
                    dnd-draggable="task">
                    {{task}}
                    <select ng-model="models.selectedActor[task]" ng-options="option as option.name for option in models.tasksActors[task]">
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-repeat="scenario in models.scenario" class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-container panel-heading ">
            <h3 class="panel-title panel-container">Scénario</h3>
        </div>
        <div class="panel-body arrow_task">
            <ul dnd-list="scenario"
                dnd-horizontal-list="true">
            <!-- The dnd-draggable directive makes an element draggable and will
                 transfer the object that was assigned to it. If an element was
                 dragged away, you have to remove it from the original list
                 yourself using the dnd-moved attribute -->
                <li ng-class="testAvailability(item)"
                    ng-repeat="item in scenario"
                    dnd-draggable="item"
                    dnd-effect-allowed="move"
                    dnd-moved="scenario.splice($index, 1);console.log('moved from', $index)"
                    data-popover-trigger="mouseenter">
                {{item}} - {{models.selectedActor[item].name}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="trashcan">
    <!-- If you use [] as referenced list, the dropped elements will be lost -->
    <ul dnd-list="[]">
        <li><img src="img/trashcan.png"></li>
    </ul>
</div>

<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
