<!--overview start-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Monitoring</h3>
<!--                         <ol class="breadcrumb">
                            <li><i class="fa fa-home"></i><a ui-sref="home" href="/">Home</a></li>
                            <li><i class="fa fa-laptop"></i>Monitoring</li>                          
                        </ol> -->
                    </div>
                </div>
                <div>
                    <div class="row" ng-controller="ButtonController" >
                        <div class="col-lg-9 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2></i><strong>Robots</strong></h2>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-repeat="os in data.os" >
                                <div ng-class="classRobot(os)">
                                    <i class="{{os}}"></i>
                                    <div class="button">
                                        <select ng-model="data.selected[os]" ng-options="option as option.name for option in data.robots | filter : {'os' : os}">
                                        </select>
     <!--                                    <span>{{robot.name}}</span> -->
                                        <div>
                                            <a ng-click="changeStatus(data.selected[os]); reset(data.selected[os])" ng-class="{'on' : data.selected[os].toggle == 2, 'pending' : data.selected[os].toggle == 1, 'pending stopping' : data.selected[os].toggle == 3}">&#xF011;</a>
                                            <span></span>
                                        </div>
                                    </div>
                                </div><!--/.info-box-->         
                            </div><!--/.col-->
                        </div>
                    </div>

     <!-- The actual modal template, just a bit o bootstrap -->
     <script type="text/ng-template" id="modal.html">
        <div class="modal fade" tabindex="0" ng-keydown="keydown($event.which)" ng-keyup="keyup($event.which)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="modal-robot-head">Robot controller</h4>
                    </div>
                    <div class="modal-body" id="arrow_pad">
                        <div class="modal-stream">
                            <div id="pos">
                                <p> Position </p>
                                <label>
                                    x
                                    <input ng-readonly="readonly" ng-model="vectx" type="text" name="vectx" />
                                </label><br>
                                <label>
                                    y
                                    <input ng-readonly="readonly" ng-model="vecty" type="text" name="vecty" />
                                </label><br>
                                <label>
                                    z
                                    <input ng-readonly="readonly" ng-model="vectz" type="text" name="vectz" />
                                </label>
                            </div>
                            <div id="ang">
                                <p> Orientation </p>
                                <label>
                                    x
                                    <input ng-readonly="readonly" ng-model="angx" type="text" name="angx" />
                                </label><br>
                                <label>
                                    y
                                    <input ng-readonly="readonly" ng-model="angy" type="text" name="angy" />
                                </label><br>
                                <label>
                                    z
                                    <input ng-readonly="readonly" ng-model="angz" type="text" name="angz" />
                                </label>
                            </div>
                            <div id="dronegps">
                                <p> GPS </p>
                                <label>
                                    Lat
                                    <input ng-readonly="readonly" ng-model="gpslat" type="text" name="angx" />
                                </label><br>
                                <label>
                                    Lon
                                    <input ng-readonly="readonly" ng-model="gpslon" type="text" name="angy" />
                                </label><br>
                            </div>
                        </div>
                        <div class="modal-control" id="modal-fleche">
                            <ul>
                                <li ng-class="condition_up ? 'down' : 'up' " ng-mousedown="keydown(38)" ng-mouseup="keyup(38)">&#8593;</li>
                                <li ng-class="condition_left ? 'down' : 'up' " ng-mousedown="keydown(37)" ng-mouseup="keyup(37)">&#8592;</li>
                                <li ng-class="condition_down ? 'down' : 'up' " ng-mousedown="keydown(40)" ng-mouseup="keyup(40)">&#8595;</li>
                                <li ng-class="condition_right ? 'down' : 'up' " ng-mousedown="keydown(39)" ng-mouseup="keyup(39)">&#8594;</li>
                            </ul>
                            <ul style="margin-left: -36px;">
                                <li ng-class="condition_3dup ? 'down' : 'up' " ng-mousedown="keydown(16)" ng-mouseup="keyup(16)">&#8593;</li>
                                <li style="display:none;"</li>
                                <li ng-class="condition_3ddown ? 'down' : 'up' " ng-mousedown="keydown(17)" ng-mouseup="keyup(17)">&#8595;</li>
                            </ul>
                        </div>
                        <div style="display: block;float: left;">
                            <img src="img/map.png" id="map" ng-click="onclick($event)" >
                                <input type="range" ng-model="theta" id="theta" ng-change="oninput($event)" min="-3.14159265359" max="3.14159265359" step ="0.001" style=" display: block; position: absolute; left: 8;top: 8;"/>
                                <img id="p3dx" class="p3dx" src="img/p3dx.png" style="height: 10px; width:  10px; display: none; position: absolute;" />
                            </img>
                        </div>
                        <div id="dronevid" style="display: block;float: left;width:100%;min-height:400px;">
                            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/09SmdgUWYhY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
<!--                    <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button> -->
                        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
     </script>

<!-- 
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="info-box green-bg">
                            <i class="fa fa-cubes"></i>
                            <div class="count">1.426</div>
                            <div class="title">Stock</div>                      
                        </div> -->
                        <!--/.info-box-->         
                        <!-- </div> -->
                        <!--/.col-->

                </div><!--/.row-->
<!--                     <div>
                        <textarea readonly ng-model="textarea"></textarea>
                        <button  ng-click="join()">Join</button>
                    </div> -->

                    <div class="row" ng-controller="ButtonController">
                        <div class="col-lg-9 col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2></i><strong>Integration</strong></h2>
                                </div>
                            </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 right-panel" ng-repeat="os in data.integration" >
                            <div ng-class="classRobot(os)">
                                <i class="{{os}}"></i>
                                <div class="button">
                                    <select ng-model="data.selected[os]" ng-options="option as option.name for option in data.robots | filter : {'os' : os}">
                                    </select>
                                    <div>
                                        <a ng-click="changeStatus(data.selected[os]); reset(data.selected[os])" ng-class="{'on' : data.selected[os].toggle == 2, 'pending' : data.selected[os].toggle == 1, 'pending stopping' : data.selected[os].toggle == 3}">&#xF011;</a>
                                        <span></span>
                                    </div>
                                </div>
                            </div><!--/.info-box-->         
                        </div><!--/.col-->
                    </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-9 col-md-12">    
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2><i class="fa fa-flag-o red"></i><strong>Equipments</strong></h2>
<!--                                     <div class="panel-actions">
                                        <a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
                                        <a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                                        <a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
                                    </div> -->
                                </div>
                                <div class="panel-body" ng-controller="Controller">
                                    <table class="table bootstrap-datatable countries">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Location</th>
                                                <th>Online</th>
                                                <th>Last message</th>
                                            </tr>
                                        </thead>   
                                        <tbody>
                                            <tr ng-repeat="robot in data.robots" ng-click="show(robot.name)" style="cursor:pointer;">
                                                <td><img src="img/{{robot.os}}.png" style="height:18px; margin-top:-2px;"></td>
                                                <td>{{robot.name}}-1245</td>
                                                <td>Dock 12</td>
                                                <td>{{robot.toggle}}</td>
                                                <td>
                                                    <span>04/12/16 15:38</span>    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h2><i class="fa fa-flag-o red"></i><strong>Sensors</strong></h2>
                                    </div>
                                    <table class="table bootstrap-datatable countries">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>ID</th>
                                                <th>Robot associated</th>
                                                <th>Name</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>   
                                        <tbody>
                                            <tr ng-repeat="sensor in data.sensors" style="cursor:pointer;">
                                                <td><img src="img/sensor.png" style="height:18px; margin-top:-2px;"></td>
                                                <td>{{sensor.name}}</td>
                                                <td>{{sensor.robot}}</td>
                                                <td>{{sensor.type}}</td>
                                                <td>
                                                    <span>{{sensor.value}}</span>    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>  
                        </div><!--/col-->
                    </div>
                    <!-- statics end -->

                    <!-- project team & activity start -->
                    <div class="row">
                        <div class="col-md-4 portlets">
                            <!-- Widget -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left">Log</div>
                                    <!-- <div class="widget-icons pull-right">
                                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                                        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                                    </div>   -->
                                    <div class="clearfix"></div>
                                </div>

                                <div class="panel-body">
                                    <!-- Widget content -->

                                    <div class="padd sscroll">
                                        <ul class="chats">
                                            <!-- Chat by us. Use the class "by-me". -->
                                            <li ng-repeat="message in data.messages" ng-class="{'by-me': message.from == 'Me', 'by-other': message.from != 'Me'}">
                                                <!-- Use the class "pull-left" in avatar -->
                                                <div ng-class="{'avatar pull-left': message.from == 'Me', 'avatar pull-right': message.from != 'Me'}">
                                                    <img ng-src="img/{{message.from}}.jpg" alt=""/>
                                                </div>

                                                <div class="chat-content">
                                                    <!-- In meta area, first include "name" and then "time" -->
                                                    <div class="chat-meta">{{message.from}} <span class="pull-right">3 hours ago</span></div>
                                                    {{message.data.value}}
                                                    <div class="clearfix"></div>
                                                </div>
                                            </li> 

                                            <!-- Chat by other. Use the class "by-other". -->
                                        <!-- <li class="by-other">
                                            <div class="avatar pull-right">
                                              <img src="img/user22.png" alt=""/>
                                          </div>

                                          <div class="chat-content">
                                            <div class="chat-meta">3 hours ago <span class="pull-right">Jenifer Smith</span></div>
                                            Vivamus diam elit diam, consectetur fconsectetur dapibus adipiscing elit.
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>    -->                                                                           
                                </ul>
                            </div>
                            <!-- Widget footer -->
<!--                             <div class="widget-foot">

                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Type your message here...">
                                    </div>
                                    <button type="submit" class="btn btn-info">Send</button>
                                </form>
                            </div> -->
                        </div>
                    </div> 
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">Message sender</div>
<!--                             <div class="widget-icons pull-right">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                            </div>   -->
                            <div class="clearfix"></div>
                        </div>
                            <div class="panel-body">
                                <div class="padd">

                                    <div class="form quick-post">
                                        <!-- Edit profile form (not working)-->
                                        <form novalidate class="form-horizontal" ng-submit="submit(msgForm.$valid)" ng-controller="MsgFormController" name="msgForm">
                                            <!-- Title -->
                                            <div class="form-group">
                                                <label class="control-label col-lg-2" for="title">Target</label>
                                                <div class="col-lg-10"> 
                                                    <select class="select" ng-model="target" name="target_field" ng-options="robot.name as robot.os + ' - ' + robot.name for robot in data.robots" ng-init='target=data.robots[0].name'>
                                                    </select>
                                                </div>
                                            </div>   
                                            <!-- Type -->
                                            <div class="form-group">
                                                <label class="control-label col-lg-2" for="tags">Type</label>
                                                <div class="col-lg-10">
                                                     <div class="radio-group">
                                                        <input required type="radio" id="option-one" ng-model="type" value="command" name="selector"><label for="option-one">Command</label>

                                                        <input type="radio" ng-model="type" value="request" id="option-two" name="selector"><label for="option-two">Request</label>

                                                        <input type="radio" ng-model="type" value="info" id="option-three" name="selector"><label for="option-three">Information</label>
                                                     </div>
                                                </div>
                                            </div>
                                            <!-- Sous-type -->
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Sub-type</label>
                                                <div class="col-lg-10">
                                                    <input type="text" list="combo-options" ng-change="change()"" ng-model="utype" placeholder="- Select or edit sub-type -"" class="form-control">
                                                    <datalist id="combo-options">
                                                        <option value="position"></option>
                                                        <option value="temperature"></option>
                                                        <option value="humidity"></option>
                                                        <option value="file"></option>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <!-- Content -->
                                            <div class="form-group" ng-class="{ 'has-error' : msgForm.content_field.$invalid && !msgForm.content_field.$pristine }">
                                                <label class="control-label col-lg-2" for="content">Data</label>
                                                <div class="col-lg-10">
                                                    <textarea ng-model="content" class="form-control" name="content_field" ng-pattern="regex" id="content"></textarea>
                                                </div>
                                                <p class="help-block" ng-show="msgForm.content_field.$error.pattern">Not a valid data!</p>
                                            </div>                           
                  
                                            <!-- Buttons -->
                                            <div class="form-group">
                                                <!-- Buttons -->
                                                <div class="col-lg-offset-2 col-lg-9">
                                                    <button ng-disabled="msgForm.$invalid" type="submit" class="btn btn-primary">Send</button>
                                                    <button ng-click="reset()" type="reset" class="btn btn-default">Reset</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="widget-foot">
                                    <!-- Footer goes here -->
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
