<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 capacity-box" ng-repeat="os in data.os" >
        <div ng-class="classRobot(os)">
            <div ng-repeat="robot in data.robots | filter : {'os' : os}">
              <h3 class="panel-title panel-container">{{robot.name}}<span ng-class="{'on' : robot.toggle == 2, 'pending' : robot.toggle == 1, 'pending stopping' : robot.toggle == 3}"></span></h3>
              <label ng-repeat="(key,value) in robot.skills">
              <input type="checkbox" ng-disabled=!{{robot.toggle}} ng-click="change(key, robot.skills[key])" ng-model="robot.skills[key]"> {{key}}</label>
            </div>
        </div><!--/.info-box-->         
    </div><!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 capacity-box" ng-repeat="os in data.integration" >
        <div ng-class="classRobot(os)">
            <div ng-repeat="robot in data.robots | filter : {'os' : os}">
              <h3 class="panel-title panel-container">{{robot.name}}<span ng-class="{'on' : robot.toggle == 2, 'pending' : robot.toggle == 1, 'pending stopping' : robot.toggle == 3}"></span></h3>
              <label ng-repeat="(key,value) in robot.skills">
              <input type="checkbox" ng-disabled=!{{robot.toggle}} ng-click="change(key, robot.skills[key])" ng-model="robot.skills[key]"> {{key}}</label>
            </div>
        </div><!--/.info-box-->         
    </div><!--/.col-->
</div>


<div class="row">
    <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><strong>Scenarios</strong></h2>
            </div>
        </div>
    </div>
    <div id="ts-map-legend" class="row">
        <ul>
            <li>
                <div class="ts-map-legend-color ts-map-legend-color-red"></div> Unavailable
            </li>
            <li>
                <div class="ts-map-legend-color ts-map-legend-color-yellow"></div> Another robot could do it
            </li>
            <li>
                <div class="ts-map-legend-color ts-map-legend-color-green"></div> OK
            </li>
            <li>
                <div class="ts-map-legend-color ts-map-legend-color-grey"></div> Task done
            </li>
    </ul>
    </div>
    <div class="fixed-scenario" ng-repeat="scenario in data.scenarios">
        <div class="panel panel-info">
            <div class="panel-container panel-heading ">
                <h3 class="panel-title panel-container">{{scenario.name}}</h3>
                <div class="panel-actions">
                 <button ng-click="removeScenario(scenario)" class="btn-launcher"><i style="font-size:24px;color:white" class="fa fa-times"></i></button>
                 <button ng-click="copyScenario(scenario)" class="btn-launcher"><i style="font-size:24px;color:white" class="fa fa-copy"></i></button>
                    <button ng-click="sendScenario(scenario)" ng-disabled="available[$index] == false" class="btn-launcher"><i ng-class="['fa', {'fa-play': available[$index] == true, 'fa-exclamation-triangle' : available[$index] == false}]"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <ul class="scenarioLayout">
                    <div class="scenarioDiv" ng-repeat="phase in scenario.tasks">
                    <li ng-repeat="task in phase"
                        ng-class="testAvailability(scenario.name, task)"
                        ng-sglclick="models.selected === task ? models.selected = null : models.selected = task"
                        data-popover-trigger="mouseenter">
                    <span>{{task.name}} - {{task.executer.name}}</span>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row dragula">
    <div class="col-lg-9 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2></i><strong>New scenario</strong></h2>
            </div>
        </div>
    </div>

    <div class='examples'>
        <div class='parent'>
            <div class='wrapper'>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-container panel-heading ">
                            <h3 class="panel-title panel-container">Tasks</h3>
                        </div>
                        <div class="panel-body" >
                            <ul class="taskLayout" id='left-copy-1tomany' class='container'>
                                <li ng-repeat="task in models.tasks"
                                id="{{task}}" data-taskid="{{task}}" data-robotid="0"
                                ng-class="{'selected': models.selected === task}" class='lioperator' ng-dblclick="addTask(task)">
                                <div class="taskname" style="display: contents;">{{task}}</div>
                                <select class="button" onchange="selectupdate($(this))" ng-model="models.selectedActor[task]" ng-options="option as option.name for option in models.tasksActors[task]">
                                </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-container panel-heading ">
                            <h3 class="panel-title panel-container"><input type= "text" style="background-color: #394a59;color: white;border: 1px solid #394a59" ng-model="newname" ng-init="newname ='New Scenario'" ng-change="updatename()" id="scenName"></h3>
                            
                            <div class="panel-actions">
                                <button onclick="addPhase()" class="btn-launcher"><i class="fa fa-plus iscen"></i></button>
                                <button onclick="clearTask()" class="btn-launcher"><i class="fa fa-times iscen"></i></button>
                                <button ng-click="addDB()" class="btn-launcher"><i class="fa fa-save iscen"></i></button>
                                <button onclick="clearScenario()" class="btn-launcher"><img src="img/trashcan.png"></button>
                                <button ng-click="misejour()" class="btn-launcher" id="misejour" style="display: none;"><i class="fa fa-save iscen"></i></button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="scenarioLayout">
                                <li ng-repeat="task in phase"
                                    ng-class="testAvailability(models.scenario.name, task)"
                                    data-popover-trigger="mouseenter">
                                <span>{{task.name}} - {{task.executer.name}}</span>
                                </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class='dragula'>
    <div class='examples'>
        <div class='parent'>
            <div class='wrapper'>
                <div id='right-copy-1tomany' class='container'>
                </div>
                <div id='left-copy-1tomany' class='container'>
                    <div>When elements are copyable, they can't be sorted in their origin container</div>
                    <div>Copying prevents original elements from being dragged. A copy gets created and <em>that</em> gets dragged instead</div>
                    <div>Whenever that happens, a <code>cloned</code> event is raised</div>
                    <div>Note that the clones get destroyed if they're not dropped into another container</div>
                    <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.</div>
                </div>
            </div>
        </div>
    </div>
</div>-->