<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

</body>
</html>

<body ng-app="myApp">
  <div class="container" align="center">
    <form action="/" method="post">

      <label for="fname">Username</label>
      <input class="login" type="text" id="fname" name="username">

      <label for="pass">Password</label>
      <input class="login" type="password" id="pass" name="password">

      <input class="login" type="submit" value="Submit">

    </form>
  </div>
  <footer>
    <% include partials/footer %>
  </footer>

    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<!--     <script src="js/jquery.js"></script> -->
    <script src="js/jquery-ui-1.10.4.min.js"></script>
<!--     <script src="js/jquery-1.8.3.min.js"></script> -->
    <script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!--custome script for all page-->
    <script src="js/scripts.js"></script>
</body>
</html>
