
:active, :focus {
	outline: 0;
}


.button {
	float: right;
	text-align: center;
}
/** Styling the Button **/
.button a {
	font-family: "FontAwesome";
	text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	font-size: 22pt;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0px 3px 0px 0px rgb(34,34,34),
	0px 7px 10px 0px rgb(17,17,17),
	inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
	inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
	width: 50px;
	height: 50px;
	border: 0;
	color: rgb(37,37,37);
	border-radius: 35px;
	text-align: center;
	line-height: 58px;
	background-color: rgb(83,87,93);

	transition: color 350ms ease, text-shadow 350ms;
	-o-transition: color 350ms ease, text-shadow 350ms;
	-moz-transition: color 350ms ease, text-shadow 350ms;
	-webkit-transition: color 350ms ease, text-shadow 350ms;
}
.button a:before {
	content: "";
	width: 60px;
	height: 60px;
	display: inline-block;
	z-index: -2;
	position: absolute;
	background-color: rgb(26,27,29);
	left: -5px;
	top: -2px;
	border-radius: 40px;
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.button a:active {
	box-shadow: 0px 0px 0px 0px rgb(34,34,34),
	0px 3px 7px 0px rgb(17,17,17),
	inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
	inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
	background-color: rgb(83,87,93);
	top: 3px;
}
.button a.on {
	box-shadow: 0px 0px 0px 0px rgb(34,34,34),
	0px 3px 7px 0px rgb(17,17,17), 
	inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
	inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
	background-color: rgb(83,87,93);
	top: 3px;
	color: #fff;
	text-shadow: 0px 0px 3px rgb(250,250,250);
}
.button a:active:before, a.on:before {
	top: -5px;
	background-color: rgb(26,27,29);
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Styling the Indicator light */
.button a + span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 15px auto;
	background-color: rgb(226,0,0);
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(226,0,0,0.5);
	border-radius: 4px;
	clear: both;
	transition: background-color 350ms, box-shadow 700ms;
	-o-transition: background-color 350ms, box-shadow 700ms;
	-moz-transition: background-color 350ms, box-shadow 700ms;
	-webkit-transition: background-color 350ms, box-shadow 700ms;
}
.button a.on + span {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(135,187,83);
}
.button a.pending + span {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(216,210,19);
}

.button a.stopping + span {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.panel-title span {
	margin : 4px;
	width: 10px;
	height: 10px;
	float: right ;
	vertical-align: center;
	background-color: rgb(226,0,0);
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(226,0,0,0.5);
	border-radius: 4px;
	clear: both;
	transition: background-color 350ms, box-shadow 700ms;
	-o-transition: background-color 350ms, box-shadow 700ms;
	-moz-transition: background-color 350ms, box-shadow 700ms;
	-webkit-transition: background-color 350ms, box-shadow 700ms;
}

span.on {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(135,187,83);
}
span.pending {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
	0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(216,210,19);
}

span.stopping {
	animation: blinker 1s linear infinite;
}

.ng-hide.ng-hide-animate{
     display: none !important;
}

button.fuller-button.blue {
	margin: 0;
}

.plus{
	position: relative;
	margin : 10px;
	font-size: 15px;
	z-index: 1;
	width: 60px;
	height: 60px;
	color: 	#fff;
	background: #538fbe;
	border-radius: 50%;
	box-shadow: 0px 3px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);

	border: 1px solid #2d6898;
	background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(73,132,180)),
		color-stop(1, rgb(97,155,203))
		);
	transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);

}
.plus:after{
	content: "+";
	font-size: 2.5em;
	line-height: 1.1em;
}
.plus:hover{
	background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(79,142,191)),
		color-stop(1, rgb(102,166,214))
		);    
}  

.plus:active {
	box-shadow: 0 0 1px 5px rgba(#538fbe, 0.4),
	0 0 1px 10px rgba(#538fbe, 0.1),
	0 0 1px 15px rgba(#538fbe, 0.1);
	background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	transform: translate(0, 4px);
	transition: all .2s ease-in-out;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(88,154,204)),
		color-stop(1, rgb(90,150,199))
		);
}


.form-submit{
	text-align: center;
}
.fuller-button {
	color: rgba(255,255,255,1);
	background: none;
	border-radius: 0;
	padding: 1.2em;
	letter-spacing: 0.35em;
	font-size: 0.7em;
	transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	margin: 1em;
	width:120px;
	text-align: center;
	display: inline-block;
}

.fuller-button.blue {
	box-shadow: inset 0 0 1em rgba(0,170,170,0.5), 0 0 1em rgba(0,170,170,0.5);
	border: #00c3c3 solid 2px;
	background-color: #00c3c3
}

.fuller-button.blue:hover {
	border-color: #0dd;
	color: rgba(0,0,0,0.8);
	background-color: #0dd;
	box-shadow: inset 0 0 0 rgba(0,170,170,0.5), 0 0 1.5em rgba(0,170,170,0.7);
}

.fuller-button.red {
	box-shadow: inset 0 0 1em rgba(251,81,81,0.4), 0 0 1em rgba(251,81,81,0.4);
	border: #c94242 solid 2px;
	background-color: #c94242
}

.fuller-button.red:hover {
	border-color: #fb5454;
	color: rgba(0,0,0,0.8);
	background-color: #fb5454;
	box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6);
}

.fuller-button.white {
	box-shadow: inset 0 0 0.8em rgba(255,255,255,0.3), 0 0 0.8em rgba(255,255,255,0.3);
	border: #878989 solid 2px;
	background-color: #878989;
}

.fuller-button.white:hover {
	border-color: #c8c9c9;
	color: rgba(0,0,0,0.8);
	background-color: #c8c9c9;
	box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
}


.pure-control-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	padding: 0 1em 2.6em 1em; 
}

.pure-form .pure-control-group label {
	text-align: left;
	position: absolute;
	left: 0;
	top: 15%;
	z-index: 0;
	letter-spacing: 0;
	margin: 0 1em; 
}

.pure-form .pure-control-group input {
	background: none;
	box-shadow: none;
	padding-left: 0;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
	position: relative;
	z-index: 1;
	color: #fff; 
}
.pure-form .pure-control-group input:focus {
	border-bottom: 2px solid white; 
}

.pure-form .pure-control-group textarea {
	background: none;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-left: 2px solid rgba(255, 255, 255, 0.4);
	resize: none;
	height: 8em;
	color: #fff; 
}
.pure-form .pure-control-group textarea:focus {
	border-left: 2px solid white;
}

.pure-form .pure-control-group input[type=email]:focus:invalid {
	color: #fff; 
}

.pure-form .pure-control-group input[type=email]:invalid {
	color: #fb5454;
}

.pure-form button {
	margin: 0.5em 1em; 
}

.switch-field {
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	overflow: hidden;
}

.switch-title {
	margin-bottom: 6px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	float: left;
}

.switch-field label {
	display: inline-block;
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	padding: 6px 14px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #A5DC86;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
	width: 108px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
	width: 108px;
}

.can-toggle {
  position: relative;
  display:inline-flex;
  width:96px;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.can-toggle label .can-toggle__label-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #5e5e5e;
}
.can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #55bc49;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #4fb743;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #5fc054;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #47a43d;
}
.can-toggle label .can-toggle__label-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 134px;
          flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.can-toggle.can-toggle--size-small label {
  font-size: 13px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch {
  height: 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-radius: 2px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:before {
  left: 45px;
  font-size: 10px;
  line-height: 28px;
  width: 45px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:after {
  top: 1px;
  left: 1px;
  border-radius: 1px;
  width: 44px;
  line-height: 26px;
  font-size: 10px;
}
.can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

