.blue-bg h3 {
    background: rgb(37, 114, 146);
}

.orange-bg h3 {
    background: #f39930;
}

.white-bg h3 {
    background: #c1d6fd;
}

.pink-bg h3 {
    background: #F35A98;
}

.green-bg h3 {
    background: #20A06B;
}

.mgb-20{
    margin-bottom: 40px;
}

.pd-0{
    padding: 0;
    margin-top: 20px;
}

.mgt6{
    margin-top: 6px;
}

.conflab{
    display: contents !important;
}

.pd-0 h3{
    color: #d0d8df;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

#typeOS{
    margin-top: 7px;
}

.faOS{
    color: #394a59;
    float: right;
    margin-top: 10px;
}

#btnOS2 .faOS{
    margin-right: 8px;
}

.dc{
    display: contents;
}

.df{
    display: flex;
}

.dg{
    display: grid;
}

.dn{
    display: none;
}
/**
 * The dnd-list should always have a min-height
 * otherwise you can't drop to it once it's empty
 */
ul.taskLayout  {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul.taskLayout  .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul.taskLayout  .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul.taskLayout  li {
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.panel.panel-info .panel-heading .panel-container {
    background :#394a59;
    color:#d0d8df;
}

/**
 * Show selected elements in green
 */
ul li.selected {
    background-color: rgba(66, 139, 202, 0.65);
    color: rgba(0, 35, 206, 0.72);
}

ul.scenarioLayout {
    display: flex;
    align-items: center;
    justify-content: : center;
    flex-wrap: wrap;
}

ul.scenarioLayout li {
    display: block;
    height: 50px;
    text-align: center;
    position: relative;
    margin: 0 25px 10px 10px; 
    overflow-wrap: break-word;
    width: 110px;
    padding-left: 18px;
}

.scenarioDiv {
    padding-bottom: 20px
    padding-top: 10px;
    width: 145px;
    min-height: 140px;
    display: inline-grid;
    align-items: center;
}

ul.scenarioLayout li span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

ul.scenarioLayout li::after {
    content: "";  
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    position: absolute; right: -15px; top: 0;
}

ul.scenarioLayout li::before {
    content: "";  
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid white;
    position: absolute; left: 0; top: 0;
}

::selection { background: transparent; color:inherit; }
::-moz-selection { background: transparent; color:inherit; }

.task_available {
    background-color: rgb(173, 238, 184);
}

ul.scenarioLayout li.task_available::after {
    border-left: 15px solid rgb(173, 238, 184);
}

.task_availableAlt {
    background-color: rgba(244, 233, 98, 0.84);
}

ul.scenarioLayout li.task_availableAlt::after {
    border-left: 15px solid rgba(244, 233, 98, 0.84);
}

.task_unavailable{
    background-color: rgba(216, 0, 0, 0.85);
    color: white;
}

.task_done{
    background-color: rgba(194, 194, 194, 194);
    color: white;
}

ul.scenarioLayout li.task_done::after {
    border-left: 15px solid rgba(194, 194, 194, 194);
}

ul.scenarioLayout li.task_unavailable::after {
    border-left: 15px solid rgba(216, 0, 0, 0.85);
}

ul.scenarioLayout li.selected::after {
    border-left: 15px solid rgba(66, 139, 202, 0.65);
}

.trashcan li{
    background-color: transparent !important;
    border: none !important;
    display: block !important;
}

select.button {
    margin-bottom: 3px;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    background-color: #394a59;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 5px;
    width: 100px;
}

.emergency{
    display: inline-block;
    text-decoration: none;
    background: #ff0000e6;
    color: rgb(0, 0, 0);
    width: 122px;
    font-size: 20px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-bottom: solid 3px #549fa9;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    transition: .4s;
    margin: 50px 25px;
    padding: 0;
}

.emergency:active{
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    border-bottom: none;
}


#ts-map-legend li{
/*    background: #FFF;
    padding: 0px;
    margin: 12px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: left;
    color: rgb(86, 86, 86);
    font-family: Roboto,Arial,sans-serif;
    -moz-user-select: none;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-left: 0px none;*/

    float: left;
    margin: 5px;
}

.ts-map-legend-color-red {
    background: #f14b3e;
}
.ts-map-legend-color {
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
    border-radius: 12px;
}

.ts-map-legend-color-yellow {
    background: #f5c155;
}

.ts-map-legend-color-green {
    background: #8dc73f;
}

.ts-map-legend-color-grey {
    background: gray;
}