.modal-header-alert {
	background-color: red;
	color: white;

}

.modal-footer-alert {
	display: block;
}

.modal-body-alert {
	display: inline-flex;
	text-align: justify;
}
.modal-dialog-alert p {
	display: inline-block;
	margin-left: 50px;
	font-size: large;
}

.modal-dialog-alert img {
  height: 200px;
  float: left;
}

.modal-dialog-alert {
	width: 50%;
}

#map {
	/*width: 100%;*/
}