.dragula .tagline {
  position: relative;
  margin-top: 0;
}
.dragula .tagline-text {
  vertical-align: middle;
}
.dragula .__slackin {
  float: right;
  margin-left: 10px;
  vertical-align: middle;
}

.dragula .promo {
  margin-bottom: 0;
  font-style: italic;
  padding: 10px;
  background-color: #ff4020;
  border-bottom: 5px solid #c00;
}

.dragula .gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.dragula .wrapper {
  display: table;
}

.dragula ul {
  padding: 0;
}

.dragula .container {
  padding: 8px;
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.dragula .container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.dragula .gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.dragula .container .ex-moved {
  background-color: #e74c3c;
}
.dragula .container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.dragula #left-lovehandles > div,
.dragula #right-lovehandles > div {
  cursor: initial;
}
.dragula .handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
.dragula .image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}
.dragula .slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}

/* Carbon */

.dragula #carbonads {
  position: absolute;
  display: block;
  overflow: hidden;
  margin-left: -180px;
  padding: 1em;
  max-width: calc(130px + 2em);
  background-color: #aa5579;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
}

.dragula #carbonads a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  transition: color .2s ease-in-out;
}

.dragula #carbonads a:hover {
  color: #221c3b;
}

.dragula #carbonads span {
  display: block;
  overflow: hidden;
}

.dragula .carbon-img {
  display: block;
  margin: 0 auto 1em;
}

.dragula .carbon-text {
  display: block;
  margin-bottom: 1em;
}

.dragula .carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
}

.dragula .col-md-6{
  padding: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 960px) {
  .dragula #carbonads {
    position: relative;
    float: none;
    margin: 0 auto -2em;
    max-width: 330px;
  }
  .dragula #carbonads span {
    position: relative;
  }
  .dragula #carbonads > span {
    max-width: none;
  }
  .dragula .carbon-img {
    float: left;
    margin: 0 1em 0 0;
  }
  .dragula .carbon-text {
    float: left;
    margin-bottom: 0;
    max-width: calc(100% - 130px - 1em);
    text-align: left;
  }
  .dragula .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
  }
}
